.patient-list {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: scroll;
  }

  .list-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .list-names:hover {
    background-color: #e6f7ff;
  }

  .patient-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .patient-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list-names.selected {
    background-color: #e6f7ff; /* Change to the color you want for the highlight */
    width: 100%;
  }
  
  
  .patient-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .patient-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .patient-list span {
    font-size: 16px;
    color: #333;
  }

  
  