body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0eaea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}